body {
	padding:0;
}
.header {
	background-color:black;
	width:100%;
	max-height:250px;
	overflow: hidden;
	margin-top:0;
}
.logo {
	width:20%;
	height:20%;
	float:left;
	
}

h1 {
	text-align:center;
	color:white;
}

.my_main {
	margin:auto;
	width:80%;
	background-color:black;
	overflow:auto;
}

.main {
	background-color:deepskyblue;
	width: 70%;
	min-height:700px;
	float:left;
	margin-left:12px;
	margin-bottom:70px;
}

.sidebar {
	background-color:cornflowerblue;
	width: 27%;
	float:right;
	margin-right:12px;
}

.foother {
	background-color:black;
	width:100%;
	max-height:250px;
	overflow:auto;
	position: fixed;
	left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
	clear: both;

}

.top {
	float:right;
	color:white;
	display:block;
	padding-top:1%;
}

.copy {
	color:white;
	display:block;
	float: left;
	padding-top:1%;
}

.menu {
	color:white;
	font-size:27px;
}

a { color:white;}

.date {
	text-align:right;
	margin-left:50%;
	float:left;
	display:block;
	color:white;
}

.title {
	margin-left: 5%;
	padding-top:10px;
	color:white;
	display:block;
	float: left;
}

.text {
	margin-left:8%;
	padding-top:10px;
	color:white;
	display:block;
	float: left;
}

.news {
	margin-top:1%;
	background-color:darkslategray;
	overflow:auto;
	font-size:18px;
}

.guest {
	background-color:darkslategray;
	color:white;
	margin-top:1%;
}

.input_guest {
	margin:0 auto;
	text-align: center;
}

.profile {
	color:darkslategray;
	font-size:20px;
	margin-left:5%;
}